@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(270deg, #f0f4f8, #4A90E2, #f0f4f8);
    background-size: 400% 400%;
    animation: gradientFlow 15s ease infinite;
}

.button:hover {
    transform: scale(1.05);
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}